@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

header nav .Subnav {
  display: none;
}

header #SearchM {
  display: none;
}

header #Navbar {
  display: none;
}

article #Banner {
  background-color: springgreen;
}

article #AllSort {
  display: none;
}

article #SixSort {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    background-color: #d1e968;
  }
  header nav {
    /*
    浮動對齊的問題 float
    1. #Logo 與 #fav 物件的父框架=nav，無寬度
    2. nav的父框架=header，高度消失(因內容物浮起)
    解決方式
    1. nav的父框架=header，給予高度或nav給予高度
    2. 清除浮動狀態，由nav設定
    */
    background-color: #f8f0ff;
    height: 15vw;
    position: relative;
  }
  header nav #Logo {
    background-color: white;
  }
  header nav #Logo #AnnLogo {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  header nav #fav {
    background-color: white;
  }
  header nav #fav #favimg {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  header nav #nav1 {
    display: none;
  }
  header nav .Subnav {
    background-color: red;
    display: block;
  }
  header nav #BtnBox1 .WomenSort {
    display: none;
  }
  header nav #BtnBox1 {
    display: none;
  }
  header nav #BtnBox2 {
    display: none;
  }
  header nav .clear {
    clear: both;
  }
  header div #SearchM {
    display: block;
    width: 100%;
    height: 50px;
  }
  #Navbar {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10vh;
  }
  #Navbar #menuM {
    float: left;
    position: center;
  }
  #Navbar #homeM {
    float: left;
  }
  #Navbar #mailM {
    float: left;
  }
  #Navbar #cartM {
    float: left;
  }
  #Navbar #memberM {
    float: left;
  }
  article #BtnBox3 {
    display: none;
  }
  article #AllSort {
    background-color: grey;
    height: 10vh;
    display: block;
  }
  article #SixSort {
    display: block;
    background-color: hotpink;
  }
}

@media screen and (min-width: 992px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70vw;
    list-style-type: none;
  }
  header nav #nav1Search {
    width: 30vw;
  }
  header nav .Subnav {
    display: none;
  }
  header #BtnBox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70vw;
    list-style-type: none;
  }
  header #BtnBox2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30vw;
    list-style-type: none;
  }
  header #SearchM {
    display: none;
  }
  header #Navbar {
    display: none;
  }
  article #Banner {
    background-color: springgreen;
  }
  article #AllSort {
    display: none;
  }
  article #SixSort {
    display: none;
  }
}
