header {
    nav {
        display: flex;

        #nav1 {
            display: flex;
            width: $W10 * 7;
            @include liDN;
        }
        #nav1Search {
            width: $W10 * 3;
        }
        .Subnav {
            @include DN;
        }
    }
    .nav2 {
        display: flex;
        #BtnBox1 {
            width: $W10 * 7;
            ul {
                display: flex;
                @include liDN;
                ul {
                    @include DN;
                }
            }
        }
        #BtnBox2 {
            width: $W10 * 3;
            ul {
                display: flex;
                @include liDN;
            }
        }
    }
    #SearchM {
        @include DN;
    }
    #Navbar {
        @include DN;
    }
}
article {
    #Banner {
        background-color: springgreen;
    }
    #AllSort {
        @include DN;
    }
    #SixSort {
        @include DN;
    }
}
