header {
    nav {
        display: flex;
        // 撐開的空白
        .null1 {
            width: $W10 * 4;
        }
        #nav1 {
            display: flex;
            width: $W10 * 4;
            @include liDN;
        }
        #nav1Search {
            width: $W10 * 2;
        }
        .Subnav {
            @include DN;
        }
    }
    .nav2 {
        display: flex;
        #Sort1 {
            width: $W10 * 3;
            display: flex;
            @include liDN;
            ul {
                @include DN;
            }
        }
        // 撐開的空格
        .null {
            width: $W10 * 2;
        }
        #Sort2 {
            width: $W10 * 5;
            display: flex;
            @include liDN;
        }
    }
    #SearchM {
        @include DN;
    }
    #Navbar {
        @include DN;
    }
}
article {
    #Banner {
        background-color: springgreen;
    }
    #AllSort {
        @include DN;
    }
    #SixSort {
        @include DN;
    }
}
